*{
    box-sizing: border-box ;
}
body{
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 90%;
    padding: 15px;
    margin: 25px ;
    font-size: 30px;
    background-color: #555;
    direction: rtl;
    border: none;
    outline: none;
    color: rgb(36, 92, 214);
    border-radius: 10px;
    
}
.contain{
    background-color: #222;
    width: 30%;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 7px 3px;
    text-align: center;
    padding-bottom: 20px;
}
button{
    width: 20%;
    padding: 5px 0;
    margin:5px;
    border: 1px solid gray;
    border-radius: 5px;
}
button img{
    width: 60%;
}

@media (max-width: 640px) {
    .contain{
        width: 70%;
    }
}
@media (min-width: 640px) {
    .contain{
        width: 60%;
    }
}

@media (min-width: 768px) {
    .contain{
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .contain{
        width: 40%;
    }
}
@media (min-width: 1280px) {
    .contain{
        width: 30%;
    }
}
